$bg: white;
$main_altura: 80vh;
$main_bg: white;
$bg_nav:  #f0ad4e;
$weigth1: 500;
$weigth2: 900;
$body_bg: #f0ad4e;
$html: #E7E8E9;

$overlay_1: rgba(0, 0, 0, 0.5);
$overlay_2: rgba(48, 47, 47, 0.1);
$btn_warning_txt: white;
$btn_warning_bg: #f0ad4e;
$btn_warning_border: #f0ad4e;
$btn_warning_bg_h: #ed9d2b;
$btn_warning_border_h: #ed9d2b;