$bg: white;
$main_altura: 80vh;
$main_bg: white;
$bg_nav:  #ABBDD3;
$weigth1: 500;
$weigth2: 900;
$body_bg: #8D9CB3;
$html: #E7E8E9;

$overlay_1: rgba(0, 0, 0, 0.5);
$overlay_2: rgba(48, 47, 47, 0.1);
$btn_warning_txt: white;
$btn_warning_bg: #68788F;
$btn_warning_border: #68788F;
$btn_warning_bg_h: #4E5D74;
$btn_warning_border_h: #4E5D74;
$opacidad: rgba(141, 156, 176, 0.6);